@charset "UTF-8";

.btn-music {
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 999;
    animation: btnMusicAni 3s infinite linear;
    padding: 10px;
    &.paused {
        opacity: 0.4;
        animation: none;
    }
}

@keyframes btnMusicAni {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}